body 
{   
}

#gif 
{
    width: 500px;
    height: 300px;
}
#button 
{
    background-color: #e1e8f0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
#button:hover 
{
    transform: scale(1.15);
}